#board {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}

.square {
    background-image: url('../assets/rug.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.bomb.showBombs {
    background-image: url('../assets/rat.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.flag {
    background: black;
}

.seen {
    background: white;
}

.message {
    margin-top: 15px;
    font-size: 20px;
}

.message span {
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 15px;
}

.message button {
    margin-left: 10px;
    border-radius: 30px;
    height: 32px;
    width: 150px;
    font-weight: bold;
}